div#shopping-cart{
    position: fixed;
    top: 1%;
    right: 1%;
    border: black solid 2px;
    padding: .75%;
}

div.product{
    overflow: hidden;
    position: relative;
    border: 2px solid black;
    padding: .75%;
    width: 90%;
}

.buy, .price{
    position: absolute;
    right: 1.5%;
    border: 2px solid black;
    padding: .75% 1%;
}

div.buy{
    top: .75em;
    font-weight: 700;
}

div.price{
    bottom: .75em;
}

div.product > img{
    float: left;
    padding-right: 1%;
}